## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

from google.colab import drive
drive.mount('/content/drive')

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

Mounted at /content/drive

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN', 'NAME'], axis=1)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
application_counts = application_df['APPLICATION_TYPE'].value_counts()
application_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(application_counts[application_counts < 500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
class_counts = application_df['CLASSIFICATION'].value_counts()
class_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_counts1 = class_counts.loc[class_counts > 1]
class_counts1.head()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(class_counts[class_counts < 1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
application_numeric = pd.get_dummies(application_df)

In [10]:
# Split our preprocessed data into our features and target arrays
X = application_numeric.drop(['IS_SUCCESSFUL'], axis=1)
y = application_numeric['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=43)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [12]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 14
hidden_nodes_layer2 = 6
hidden_nodes_layer3 = 3

nn_model = tf.keras.models.Sequential()

# First hidden layer
nn_model.add(tf.keras.layers.Dense(units=hidden_nodes_layer1,
             input_dim=number_input_features, activation="tanh"))


# Second hidden layer
nn_model.add(tf.keras.layers.Dense(
    units=hidden_nodes_layer2, activation="relu"))


# Output layer
nn_model.add(tf.keras.layers.Dense(units=1, activation="relu"))


# Check the structure of the model
nn_model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 14)                616

 dense_1 (Dense)             (None, 6)                 90

 dense_2 (Dense)             (None, 1)                 7

=================================================================
Total params: 713
Trainable params: 713
Non-trainable params: 0
_________________________________________________________________

In [13]:
# Compile the model
nn_model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [14]:
# Train the model
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=32)

Epoch 1/32
804/804 [==============================] - 2s 1ms/step - loss: 2.2655 - accuracy: 0.6132
Epoch 2/32
804/804 [==============================] - 1s 1ms/step - loss: 0.8141 - accuracy: 0.6967
Epoch 3/32
804/804 [==============================] - 1s 1ms/step - loss: 0.7250 - accuracy: 0.7128
Epoch 4/32
804/804 [==============================] - 1s 1ms/step - loss: 0.7187 - accuracy: 0.7141
Epoch 5/32
804/804 [==============================] - 1s 1ms/step - loss: 0.7087 - accuracy: 0.7173
Epoch 6/32
804/804 [==============================] - 1s 1ms/step - loss: 1.4336 - accuracy: 0.6638
Epoch 7/32
804/804 [==============================] - 1s 1ms/step - loss: 2.6553 - accuracy: 0.6179
Epoch 8/32
804/804 [==============================] - 1s 2ms/step - loss: 1.4325 - accuracy: 0.6822
Epoch 9/32
804/804 [==============================] - 1s 2ms/step - loss: 1.0761 - accuracy: 0.7090
Epoch 10/32
804/804 [==============================] - 1s 1ms/step - loss: 0.6400 - accuracy: 0.7082
Epoch 11/32
804/804 [==============================] - 1s 1ms/step - loss: 0.6189 - accuracy: 0.7203
Epoch 12/32
804/804 [==============================] - 1s 1ms/step - loss: 0.6139 - accuracy: 0.7223
Epoch 13/32
804/804 [==============================] - 1s 1ms/step - loss: 0.6127 - accuracy: 0.7221
Epoch 14/32
804/804 [==============================] - 1s 1ms/step - loss: 0.6105 - accuracy: 0.7237
Epoch 15/32
804/804 [==============================] - 1s 1ms/step - loss: 0.6072 - accuracy: 0.7218
Epoch 16/32
804/804 [==============================] - 1s 1ms/step - loss: 0.6004 - accuracy: 0.7229
Epoch 17/32
804/804 [==============================] - 1s 1ms/step - loss: 0.5939 - accuracy: 0.7234
Epoch 18/32
804/804 [==============================] - 1s 1ms/step - loss: 0.5916 - accuracy: 0.7234
Epoch 19/32
804/804 [==============================] - 1s 1ms/step - loss: 0.5943 - accuracy: 0.7228
Epoch 20/32
804/804 [==============================] - 1s 2ms/step - loss: 0.6034 - accuracy: 0.7219
Epoch 21/32
804/804 [==============================] - 1s 2ms/step - loss: 0.5876 - accuracy: 0.7250
Epoch 22/32
804/804 [==============================] - 1s 1ms/step - loss: 0.5878 - accuracy: 0.7256
Epoch 23/32
804/804 [==============================] - 1s 1ms/step - loss: 0.5860 - accuracy: 0.7274
Epoch 24/32
804/804 [==============================] - 1s 1ms/step - loss: 0.5853 - accuracy: 0.7263
Epoch 25/32
804/804 [==============================] - 1s 1ms/step - loss: 0.5852 - accuracy: 0.7269
Epoch 26/32
804/804 [==============================] - 1s 1ms/step - loss: 0.5823 - accuracy: 0.7269
Epoch 27/32
804/804 [==============================] - 1s 1ms/step - loss: 0.5598 - accuracy: 0.7276
Epoch 28/32
804/804 [==============================] - 1s 1ms/step - loss: 0.5576 - accuracy: 0.7285
Epoch 29/32
804/804 [==============================] - 1s 1ms/step - loss: 0.5556 - accuracy: 0.7293
Epoch 30/32
804/804 [==============================] - 1s 1ms/step - loss: 0.5541 - accuracy: 0.7272
Epoch 31/32
804/804 [==============================] - 1s 2ms/step - loss: 0.5582 - accuracy: 0.7269
Epoch 32/32
804/804 [==============================] - 1s 2ms/step - loss: 0.5543 - accuracy: 0.7283

In [15]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5533 - accuracy: 0.7340 - 334ms/epoch - 1ms/step
Loss: 0.553305983543396, Accuracy: 0.73399418592453

In [17]:
# Export our model to HDF5 file
filename = '/content/drive/MyDrive/Module21_Homework/H5_Files/AlphabetSoupCharity.h5'


# Save the model to a HDF5 file
nn_model.save(filename)